name: 'spec validation'

on: 
  workflow_dispatch:
    inputs:
      git_url:
        description: 'git url'
        require: false
        type: string
      from_ref:
        description: 'from ref'
        require: false
        type: string
      to_ref:
        description: 'to ref'
        require: false
        type: string
      pr_number:
        description: 'pr number'
        require: false
        type: string
      owner:
        description: 'owner'
        require: false
        type: string
      repo:
        description: 'repo'
        require: false
        type: string
      head_sha:
        description: 'commit hash'
        require: false
        type: string

jobs:
  validate:

    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.TOKEN }}

    steps:
      - name: show pwd
        run: pwd

      - uses: actions/setup-node@v3
        with:
          node-version: '14'

      - run: npm install -g npm
      - run: npm help

      - name: initilize spectral
        run: |
          npm install -g @stoplight/spectral-cli
          spectral --help

      - run: git help

      - run: gh help

      - name: handle validation
        run: |
          echo "clone spec repo"

          echo "clone code repo"

          echo "find changed swagger files"

          echo "validate swagger file with spectral"

          echo "catch response from spectral"

          echo "send response to code repo issue"
          response="test response"
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \ 
            -H "Authorization: token ${{ env.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ inputs.owner }}/${{ inputs.repo }}/check-runs \
            -d '{"name":"mighty_readme","status":"in_progress","output":{"title":"validate response","summary":"$response","text":"more detail."}}'


  